# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.Assignment1AntonAndAlexander.iml
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\anton\source\repos\Assignment1AntonAndAlexander\.idea\.idea.Assignment1AntonAndAlexander\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
